<html>
<head>
 <title>User</title>
 <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<h1>UserForm</h1>
	<form method="post" action="/users">

	<label>Your Name:</label>
	<input type="text" name="name">
	<label>Your Age:</label>
	<input type="number" name="age">


	<input type="submit" value="Submit">
	</form>
</body>
</html>